@font-face {
  font-family: "Gilroy-UltraLight";
  src: url("./fonts/gilroy-ultralight.eot"); /* IE 9 Compatibility Mode */
  src: url("./fonts/gilroy-ultralight.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("./fonts/gilroy-ultralight.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/gilroy-ultralight.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("./fonts/gilroy-ultralight.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/gilroy-ultralight.svg#gilroy-ultralight") format("svg"); /* Chrome < 4, Legacy iOS */
}

body {
  font-family: "Gilroy-UltraLight";
}

header {
  width: 770px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

header ul {
  width: 300px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 24px;
  color: #003399;
  font-weight: bold;
}

header img {
  width: 170px;
}

.main-content {
  width: 770px;
  margin: auto;
}

.counter {
  color: #f27c0f;
  font-size: 290px;
  text-align: center;
}

.buttons {
  width: 740px;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  border-radius: 4px;
  border: none;
}

.plus {
  background-color: #003399;
  color: #ffffff;
}

.minus {
  background-color: #f27c0f;
  color: #ffffff;
}

.to-zero {
  background-color: #e5e5e5;
  color: #000;
}

footer {
  width: 770px;
  display: flex;
  margin: auto;
  margin-top: 220px;
  font-size: 16px;
  color: #00000080;
  align-items: center;
}

footer img {
  width: 100;
}

footer ul {
  width: 360px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 130px;
  margin-left: 10px;
  font-weight: 500;
}